<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>control.registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>control.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lateServlet</servlet-name>
        <servlet-class>control.lateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>volunteerServlet</servlet-name>
        <servlet-class>control.volunteerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donateservlet</servlet-name>
        <servlet-class>control.donateservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>control.editServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dealerServlet</servlet-name>
        <servlet-class>control.dealerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postservlet</servlet-name>
        <servlet-class>control.postservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dlraccServlet</servlet-name>
        <servlet-class>control.dlraccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgvolServlet</servlet-name>
        <servlet-class>control.msgvolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msgServlet</servlet-name>
        <servlet-class>control.msgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lateServlet</servlet-name>
        <url-pattern>/lateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>volunteerServlet</servlet-name>
        <url-pattern>/volunteerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donateservlet</servlet-name>
        <url-pattern>/donateservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/editServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dealerServlet</servlet-name>
        <url-pattern>/dealerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postservlet</servlet-name>
        <url-pattern>/postservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlraccServlet</servlet-name>
        <url-pattern>/dlraccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgvolServlet</servlet-name>
        <url-pattern>/msgvolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msgServlet</servlet-name>
        <url-pattern>/msgServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index5.html</welcome-file>
    </welcome-file-list>
</web-app>
